<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Acceuil
    </ion-tab-button>
    <ion-tab-button tab="evenements">
      <ion-icon name="calendar"></ion-icon>
      Evenement
    </ion-tab-button>
    <ion-tab-button tab="articles">
      <ion-icon name="fast-food"></ion-icon>
      Articles
    </ion-tab-button>
    <ion-tab-button tab="options">
      <ion-icon name="people"></ion-icon>
      Compte
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>