<div class="content ion-padding ">
  <div class="item-list" lines="none">
    <div class="item" *ngFor="let article of response?.content">
      <img *ngIf="article.images&&article.images.length>0"
        [src]="article.images[0].src??'./../../../../../assets/images/articles/default.jpg'"
        [alt]="article.images[0].nom" />
      <img *ngIf="!(article.images&&article.images.length>0)"
        [src]="'./../../../../../assets/images/articles/default.jpg'" [alt]="'default image'" />
      <ion-label>{{article.nom|titlecase}}</ion-label>
    </div>
  </div>
</div>