@media screen and (min-width: 768px) {

  ion-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  ion-list ion-item {
    width: 100%;
    max-width: 991px;
  }
  .title {
    text-align: center;
  }
}
ion-list {
  margin: 12px;
}
.title {
  margin-bottom: 12px;
}
ion-item ion-label {
  padding-left: 12px;
}
